@media screen and (max-width:700px){
    header .container{
    display: flex;
    flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }

    .container__navegacao{
        visibility:hidden;
    }

    .container__navegacao .home{
        visibility:visible;
        margin-left: 100px;
    }

    .container__trailer iframe{
        width: 320px;
    }

}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}